{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <div class="blur1"></div>
    <div class="blur2"></div>

 <h1 class="main-title">
    ميسم بنت عبدالله الرشيد
</h1>

<div class="hero-info">

    <p>
        بكالوريوس علوم الحاسب
    </p>

    <p>
        جامعة القصيم - القصيم، المملكة العربية السعودية
    </p>


</div>

    <div class="hero-buttons">

        <a class="btn-outline" href="/projects/">مشاريعي</a>

        <a class="btn-fill" href="/contact/">تواصل معي</a>

    </div>

</section>


{% endblock %}